@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&display=swap');
:root{
    --border:2px solid var(--black);
   --box-shadow:0 .3rem 1rem rgba(0,0,0,.1);
   --wht: #ffffff;
   --pink:#fa504a;
   --grey:#939185;
   --brw:#b7825f;
   --cream:#FFFDD0;
   --black:#454545;
   --green:#6abd6c;
    --white: #FFFFFF; /* Matches usage */
}
.heading{
   display: flex;
   flex-flow: column;
   align-items: center;
   justify-content: center;
   gap:1rem;
   /* background-color: var(--black); */
   text-align: center;
   min-height: 18vh;
}
.heading h3{
   font-size: 2rem;
   color:black;
   text-transform: uppercase;
}

.heading p{
   display: flex;
   font-size: 1.3rem;
   color:#6abd6c;
   align-items: center;
}
.heading p a{
   color:var(--black);
}

.heading p a:hover{
   text-decoration: underline;
}
section.heading.i {
   font-style: normal; /* Prevent styles affecting `i` tags */
}
hr {
   height: 2px;
   background-color:var(--black); /* Adjust the color */
   margin: 10px auto;
   width: 100%; /* Adjust the width */
}
.title{
   text-align: center;
   margin-top: 1.5rem;
   margin-bottom: 1.5rem;
   color:var(--black);
   text-transform: uppercase;
   font-size: 1.5rem;
}
.btn,
.delete-btn,
.option-btn{
   display: inline-block;
   border-radius: 0.5rem;
   margin-top: 1rem;
   font-size: 1.5rem;
   color:var(--wht);
   cursor: pointer;
   padding:0.5rem 1rem;
   text-transform: capitalize;
}

.btn{
   background-color: var(--brw);
}

.delete-btn{
   background-color: var(--brw);
}

.option-btn{
   background-color: #6abd6c;
}

.btn:hover,
.delete-btn:hover,
.option-btn:hover{
   background-color: var(--pink);
}
.products{
    width: 100%;
    padding:1.5rem;
}
.products h1{
    padding: 20px;
}
.products .box-container{
    width: 100%;
    margin:0 auto;
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
    gap:1rem;
    align-items: flex-start;
    justify-content: space-evenly;
    /* max-width: 1200px;
    margin:0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 33rem);
    gap:1.5rem;
    align-items: flex-start;
    justify-content: center; */
 }
 
 .products .box-container .box{
    background-color: var(--wht);
    border:var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding:1rem;
    text-align: center;
    position: relative;
 }
 
 .products .box-container .box .image{
    width: 100%;
    height:350px;
    object-fit: cover;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    color: black;
    box-sizing: border-box;
 }
 .products .box-container .box .view-details,
.products .box-container .box .price{
   position: absolute;
   top:1.5rem;
   border-radius: .5rem;
}

.products .box-container .box .price{
   font-size: 1.2rem;
   padding:0.5rem;
   background-color: var(--green);
   color:var(--white);
   left:1rem;
}

.products .box-container .box .view-details{
   right:1rem;
   height: 2rem;
   width: 2.5rem;
   line-height: 1.5rem;
   font-size: 1rem;
   background-color: var(--white);
   color:var(--black);
   border:var(--border);
}

.products .box-container .box .view-details:hover{
   background-color: var(--brw);
   color:var(--white);
}
.products .box-container .box .name{
    margin:0.5rem;
    font-size: 1.5rem;
    color:var(--black);
    
}
.products .box-container .box .qty{
    width: 100%;
    font-size: 1.5rem;
    color:var(--black);
    border:var(--border);
    border-radius: .5rem;
    margin:.5rem 0;
}
 
.products .box-container .box .btn,
.products .box-container .box .option-btn{

    width: 100%;
}
.empty{
   padding:1.5rem;
   font-size: 1.5rem;
   color:var(--brw);
   border:var(--border);
   box-shadow: var(--box-shadow);
   text-align: center;
   background-color: var(--wht);
   border-radius: .5rem;
   text-transform: capitalize;
}

.message{
   position: sticky;
   top:0;
   margin:0 auto;
   max-width: 1200px;
   background-color: var(--light-bg);
   display: flex;
   align-items: center;
   padding:2rem;
   gap:1.5rem;
   z-index: 10000;
   justify-content: space-between;
}

.message span{
   color:var(--black);
   font-size: 2rem;
}

.message i{
   font-size: 2.5rem;
   color:var(--red);
   cursor: pointer;
}

.message i:hover{
   transform: rotate(90deg);
}