@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&display=swap');
:root{
    --border:2px solid var(--black);
   --box-shadow:0 .3rem 1rem rgba(0,0,0,.1);
   --wht: #ffffff;
   --pink:#fa504a;
   --grey:#d8d8d8;
   --brw:#b7825f;
   --cream:#FFFDD0;
   --black:#454545;
   --green:#6abd6c;
    --white: #FFFFFF; /* Matches usage */
}
.products h1{
   text-align: center;
   margin-top: 3rem;
   margin-bottom: 4.5rem;
   color:var(--black);
   text-transform: uppercase;
   font-size: 2rem;
}
.products{
    width: 100%;
    padding:1.5rem;
    background-color: rgb(245, 242, 242);
}
.products .prod-container{
    width: 100%;
    margin:0 auto;
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
    gap:1rem;
    align-items: flex-start;
    justify-content: center;
    margin-top: 1rem;
    /* max-width: 1200px;
    margin:0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 33rem);
    gap:1.5rem;
    align-items: flex-start;
    justify-content: center; */
}

 .products .prod-container .box {
    background-color: rgb(255, 255, 255);
    border: none;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding: 1rem;
    text-align: center;
    position: relative;
}

.products .prod-container .box .top-info {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 90%;
    margin-top: 1rem; 
    margin-left: 1rem;
    margin-right: 1rem;
}
.products .prod-container .box .name{
    font-size: 1.5rem;
    color:var(--black);
 }
 
 .products .prod-container .box .price{
    font-size: 1.5rem;
    color:var(--pink);
    margin:.5rem 0;
}

.products .prod-container .box .image {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.products .prod-container .box .view-details {
    background-color: var(--white);
    color: var(--black);
    padding: 0.5rem;
    text-align: center;
    border: var(--border);
    border-radius: 0.5rem;
}

.products .prod-container .box .view-details:hover {
    background-color: var(--brw);
    color: var(--white);
}

.products .prod-container .box .qty {
    width: 90%;
    font-size: 1.3rem;
    border: var(--border);
    border-radius: .5rem;
    margin-top: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
}
.products .prod-container .box .btn{
    display: inline-block;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    font-size: 1.3rem;
    color:var(--white);
    cursor: pointer;
    padding:0.5rem 0.7rem;
    text-transform: capitalize;
    background-color: var(--brw);
}
.products .prod-container .box .btn:hover{
    background-color: var(--pink);
}
.empty{
    padding:1.5rem;
    font-size: 1.5rem;
    color:var(--brw);
    border:var(--border);
    box-shadow: var(--box-shadow);
    text-align: center;
    background-color: var(--wht);
    border-radius: .5rem;
    text-transform: capitalize;
}
  



 

 


