@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&display=swap');
:root{
    --border:2px solid var(--black);
   --box-shadow:0 .3rem 1rem rgba(0,0,0,.1);
   --wht: #ffffff;
   --pink:#fa504a;
   --grey:#939185;
   --brw:#b7825f;
   --cream:#FFFDD0;
   --black:#454545;
   --green:#6abd6c;
    --white: #FFFFFF; 
}
.search-form form{
    max-width: 1200px;
    margin:0 auto;
    display: flex;
    align-items: center;
    gap:1rem;
}
 
.search-form form .box{
    width: 100%;
    border:var(--border);
    /* background-color: var(--wht); */
    box-shadow: var(--box-shadow);
    padding:0.5rem 0.7rem;
    font-size: 1.2rem;
    border-radius: .5rem;
    margin: 1.5rem;
}
button .search-icon{
    background-color: none;
    border: none;
 }
.search-form form .btn{
    margin-top: 0;
}
.btn{
    display: inline-block;
    border-radius: 0.5rem;
    margin-top: 1rem;
    font-size: 1.2rem;
    color:var(--wht);
    cursor: pointer;
    padding:0.5rem 1rem;
    text-transform: capitalize;
    background-color: var(--brw);
}
.btn:hover{
    background-color: var(--green);
}

.empty{
    padding:1rem;
    font-size: 1.2rem;
    color:var(--pink);
    box-shadow: var(--box-shadow);
    text-align: center;
    background-color: var(--wht);
    border-radius: .5rem;
    text-transform: capitalize;
    margin: 3rem;
}